main {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #292929;
  background-color: #fefefe;
}

/* Navbar CSS */
.navbar {
  transition: 0.25s;
}

.navbar-nav a {
  font-family: 'Roboto Slab', Georgia, serif;
  font-size: 20px;
  position: relative;
}

.navbar-nav a {
  color: rgb(240, 240, 240);
  text-shadow: 1px 1px 0px #2c2c2c;
}

.navbar-nav a:hover {
  color: rgb(226, 226, 226);
}

.navbar-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background-color: #fff;
}

.navbar-nav a:hover::before {
  transform: scaleX(1);
}

.carousel-item {
  height: 600px;
  background-color: rgb(30, 30, 30);
}

.darken-img img::after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
  opacity: 0.6;
}

/*Footer CSS*/
footer {
    text-align: center;
    font-size: 30px;
    bottom: 0;
}
footer svg {
    height: 20px;
    width: 20px;
    color: #0223f7;
}

/*Events page CSS*/
.events{
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 12px 12px 4px 2px #252525;
}
.heading{
  letter-spacing: 10px;
  padding: 15px;
  font-size: 50px;
}
#tutoring, #expose, #newsletter{
  padding: 20px;
  text-align: center;
}
#expose{
  width: 100%;
}
.parallax{
  background-image: url("companyexposelogo.jpg");
  min-height: 800px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  vertical-align: middle;
}